[2020-12-20 14:00] ariran5 opened #3 "Example not work"
Hi, i download this project with example and i try start this. After start  he say me "Error: Cannot find module 'vite-ssr/build'"

nodejs 15.4

[2020-12-23 16:16] frandiox commented on #3
@ariran5 Hi! I can't reproduce this. I did a fresh git clone > `cd example` > `yarn` > `yarn build` > `yarn serve:node` and it works as expected with Node 15 🤔

Are you using Windows?
Can you try modifying the `vite-ssr` dependency line in `example/package.json` and use version `"*"` instead of the local path?

[2021-01-19 17:18] benmccann opened #4 "Upgrade to Vite 2"
I see that this project uses `^1.0.0-rc.9`

https://github.com/frandiox/vite-ssr/blob/33fa848eaaa68026683628cb5df9e5a06ecea2f2/core/package.json#L25

I'd really love to see it use the latest - `2.0.0-beta.33`

[2021-02-10 15:43] #3 closed

[2021-02-10 15:44] frandiox commented on #4
@benmccann Version `0.1.0` supports Vite 2 👍

[2021-02-10 15:44] #4 closed

[2021-02-10 15:50] benmccann commented on #4
Wow, thanks!

[2021-02-13 08:37] ekoeryanto opened #5 "inject req and res to context so it's accessible via `useSsrContext`"
It's kinda feature request

[2021-02-16 12:02] #5 closed

[2021-02-16 12:23] frandiox commented on #5
@ekoeryanto Released in `0.1.2`!

What's your use case for this? I've added `initialState` to the SSR context as well so it can be mutated. The resulting state will be hydrated later in the client. I think this could be an alternative to using `router.meta.state` 🤔

[2021-02-17 11:12] ekoeryanto commented on #5
`req` to check the session, cookie, etc. and the `res` to redirect,

[2021-02-25 21:34] thalesagapito opened #6 "How to use vueuse/head?"
Since the renderToHtml call is inside the module, would it be possible to install and use https://github.com/vueuse/head?

[2021-02-26 02:50] frandiox commented on #6
@thalesagapito I'm integrating vueuse/head in a local branch already and will probably merge it this week. For now, there's a component called `Helmet` to do the same thing. Example [here](https://github.com/frandiox/vite-ssr/blob/master/examples/vue/src/pages/Homepage.vue#L2).

[2021-02-27 01:12] thalesagapito commented on #6
Cool! Nice work, I'll close this for now then, and wait for the integration

[2021-02-27 01:12] #6 closed

[2021-02-27 16:46] frandiox commented on #6
@thalesagapito Released in `0.5.0`!

[code]

[2021-03-01 22:36] danelowe opened #7 "Multiple entry points"
I'd like to be able to build a separate mobile and desktop app with some shared code, and the same npm dependencies, but different builds. I would expect that most people would want to set up projects in this way, but always find it difficult to do for some reason.

From what I can see, it looks like `vite-ssr` could make this easier by:

1. Either allowing configurable entrypoint for both client

[2021-03-02 16:03] frandiox commented on #7
@danelowe Hello! Would the [multi-page-app](https://vitejs.dev/guide/build.html#multi-page-app) approach in Vite work for you in development? I just need to figure out if that API is good enough so we can add support in `vite-ssr` build. I haven't played with this kind of build so not sure what's needed. If you want to experiment with that I'd be happy to review ideas.

I think you can probably do

[2021-03-09 22:01] danelowe commented on #7
Hi @frandiox,

Sorry for the delayed reply. I didn't get a notification for some reason.

I ended up starting with the example from the vite repo rather than `vite-ssr`, because I later realised that I needed more control over the whole process and had to set up a custom server.

I've pulled out an earlier version of this and published to https://github.com/danelowe/vue-ssr-template so you can see

[2021-03-11 04:40] yaquawa opened #8 "Can I use `async setup` with Suspense instead of `serverPrefetch`?"
Hi, thanks for all the efforts to create this project !!!

I noticed that [Support Suspense in SSR](https://github.com/vuejs/vue-next/pull/727) was possible in vue3.
Does this mean I can use fetch data in `async setup` instead of `serverPrefetch` ?
I didn't see any example code in the readme shows how to use this plugins with the vue3's `setup` method, so if I'm wrong would you show me an example

[2021-03-11 12:43] #8 closed

[2021-03-11 12:44] frandiox commented on #8
@yaquawa Hi! I just added a quick example in the previous commit. The tricky part is the change to the root component to use suspense.

[2021-03-17 22:03] danelowe commented on #7
@frandiox The example was simplified to illustrate the multi-device thing more, and I'd removed a lot of custom stuff.

I can't recall the specific details, but I believe the issue I was something to do with injecting a websocket client into the app with values taken from the request headers. I understand `vite-ssr` provides access to the request now, but there was something in my specific case th

[2021-03-18 16:38] yaquawa opened #9 "Will this project be written in TypeScript?"
Hi, I've just dug around the source code of this project for a while, after comparing to other Vite SSR projects, I believe this is the best SSR plugin for Vite I could find in the market despite the number of stars this project got... I really appreciate your efforts for this project!
But I feel like "unsafe" to modify any options without the type hintings, really wish it can be written in ts for

[2021-03-19 06:06] frandiox commented on #9
@yaquawa Thanks for the kind words!

I would indeed like to add more TS to this project (currently it provides types but doesn't use TS internally).
I started the project as a proof of concept in Vite 1 and ditched TS just to move faster at the beginning. There's a PR open to add TS but it wasn't finished and is already stale.

I'll see if I can add TS some time soon 👍

That said, feel free to mak

[2021-04-01 21:13] yaquawa opened #10 "Add a hook to modify the `body`"
I'd been finding a way to append extra string to the `body`:
https://github.com/frandiox/vite-ssr/blob/f0a7e023cafa767c46d287a99623498381795529/src/vue/entry-server.js#L60

Because I'm using this state management lib:
https://github.com/andrewcourtice/harlem/tree/main/plugins/ssr

to enable the SSR feature of it, it requires appending extra state data to the rendered string.
I wasn't able to find

[2021-04-01 21:25] yaquawa opened #11 "`dev/server.js` may be replaced by vite plugin hooks?"
Looking at the `dev/server.js`, I noticed that the motivation to use such a dedicated file is because these two things

1.
https://github.com/frandiox/vite-ssr/blob/f0a7e023cafa767c46d287a99623498381795529/src/dev/server.js#L64

2.
https://github.com/frandiox/vite-ssr/blob/f0a7e023cafa767c46d287a99623498381795529/src/dev/server.js#L85

I think you can utilize these two hooks to get the same result

[2021-04-03 17:34] frandiox commented on #10
Yeah I was thinking in adding some kind of hook to optionally use `devalue` instead of `JSON.stringify`. I think it would work for this as well 🤔
I'll have a look at it tomorrow probably.

[2021-04-03 17:44] frandiox commented on #11
Yes, I think it should be possible to move everything to the plugin (it's in a TODO in the readme that requires some research). It started as a way to support Vite 1, which didn't have a proper plugin API.

One thing to consider is that `vitedge` is wrapping `vite-ssr` so we need to make sure it keeps working.

I guess the new version could run SSR by default and only use SPA (pure Vite) if a `--s

[2021-04-03 22:58] yaquawa commented on #11
What did you mean by this? Did you mean there will be a dedicated command just for SSR in the next version of Vite?

[2021-04-03 22:59] yaquawa commented on #10
Thanks a lot!

[2021-04-04 09:14] frandiox commented on #10
@yaquawa So I actually misunderstood what you needed here. What I meant was a hook to modify `initialState` instead of `body`. However, you might not need that body hook:

Harlem is basically adding  `<script>window.__harlemState = state</script>` to the DOM, which overlaps with the role of Vite SSR (serializing state as well).
You can use the new state transformer hook (more docs in readme) to mo

[2021-04-04 09:23] frandiox commented on #11
Right now, you can run a project using `vite dev`, which is purely SPA mode, or `vite-ssr dev`, which runs in SSR mode.

Since we would be moving the SSR logic from the CLI to the Vite plugin, it will do SSR even when running `vite dev` (instead of SPA), right?

In that case, it would be good to keep the SPA mode in some way. Perhaps `vite dev --spa` could be the command for that. Internally, the

[2021-04-04 11:30] yaquawa commented on #10
Good to know that, thanks for the detail!

Also I've noticed that I could just write me a little plugin for this using the [transformIndexHtml](https://vitejs.dev/guide/api-plugin.html#transformindexhtml) hook.

[2021-04-04 11:30] #10 closed

[2021-04-04 11:36] yaquawa commented on #11
Oh, I thought you were saying that the next version of Vite will provide a SSR mode😅
Yes you're right. But this could change the code base a lot, maybe it's a good change to rewrite it to ts🙃

[2021-04-04 11:36] #11 closed

[2021-04-04 11:47] frandiox commented on #11
@yaquawa Yeah I'm actually working on that. I'm a bit stuck because we have both ESM and CJS files in the source code, so `tsc` gets confused 😓

[2021-04-04 18:03] #9 closed

[2021-04-07 17:27] frandiox commented on #9
@yaquawa Latest version is using TS 🎉

[2021-04-08 19:34] yaquawa commented on #9
Cool!🎉🎉🎉

[2021-04-12 11:54] yaquawa commented on #11
Hi @frandiox
I just wanna let you know I've created a new plugin that just using the public API of Vite, and that works well.
That could save a lot of maintenance costs, actually the plugin is as tiny as just 100 lines of code.

https://github.com/ssr-glue/vite-plugin

Just for your information, eventually, I went with the server/client entry scripts approach instead of a universal entry script, b

[2021-04-12 15:10] frandiox commented on #11
@yaquawa Thanks, I'll have a look at it soon, hopefully. That should remove some of the code I had to make to support Vite v1.

Hah yeah, that's a good reason to use different entry, if your dependencies rely on Node APIs during import. In `vite-ssr` the single entry point is optional, if you want a different entry for the server, you can just provide `--ssr path/to/server/entry` to the CLI.

[2021-04-13 14:18] yaquawa commented on #11
@frandiox

Oh, I didn't notice that before..!  Maybe it should be on the README?

[2021-04-13 17:14] frandiox commented on #11
@yaquawa it is, in a "details" section, search for `Using separate entry files` 😅

[2021-04-14 01:23] yaquawa commented on #11
Oh really? sorry for that..🤥

[2021-04-23 08:56] tcastelly opened #14 "Unable to resolve path to module 'vite-ssr'."
Hello,

I'm using eslint with:
[code]

unfortunately when I try to import 'vite-ssr' I have this error:

If someone has an idea :)

[2021-04-23 11:15] domsen123 opened #15 "[Q]: how to share httponly cookie between ssrContext and ClientContext"
Hi,

how can I pass my httponly cookie from clientcontext to ssrcontext?
My serverside is allways unauthenticated :(

[2021-04-23 11:44] frandiox commented on #15
@domsen123 If I'm not understanding wrong, you should find the cookies in the `request` object during SSR. That object can be accessed in the main hook automatically during development:

[code]

In production, you need to pass it to the `render` function in order to be available in the hook:

[code]

[2021-04-23 11:46] frandiox commented on #14
I'm not sure if it's related but `vite-ssr` is a virtual module, its path doesn't match the actual source code.
It already provides types so I think you can just disable ESLint for that specific import 🤔

[2021-04-23 12:04] tcastelly commented on #14
I don't know if it's the best solution, but I updated my `.eslintrc.js` like this:

[code]

Thank you for your help.

[2021-04-23 12:04] #14 closed

[2021-04-23 12:09] domsen123 commented on #15
thanks for the fast reply...

ok I'm bit confused right now...

I do auth request (ClientContext): receive cookie Auth={{token}}
If I hit F5 and inspect the request attribute from viteSSR hook, I can see the auth cookie in headers - ok!

I have an simple auth endpoint /checkAuth (checks Auth cookie)

If I hit this request on ClientContext => ok
If I hit this request on ssrContext (api call on setu

[2021-04-23 12:20] frandiox commented on #15
I guess that would be because you need to share the cookies manually between the `request` object you have in SSR (which comes from the browser) and your new API request where you are using fetch or axios.
Since SSR runs in Node, it doesn't know how to attach cookies automatically unlike the browser.

Does that make sense? 🤔

[2021-04-23 12:40] domsen123 commented on #15
yes... totaly... I am stupid af 😅

now I am creating an axios instance on ssrContext and ClientContext passing the cookie header to the axios instance if available...

sure - on ssrContext, there is no browser for storing cookies and reuse it "withcredentials"..

anyways.... thanks for pushing me to the right direction!!! 👍👍👍

[2021-04-23 15:54] frandiox commented on #15
No problem, we are all learning here!

[2021-04-23 15:54] #15 closed

[2021-04-25 00:17] Stumblinbear opened #16 "Incompatible with vite-plugin-compress"
When used with `vite-plugin-compress` the resulting files in `./dist` are all compressed.

[2021-04-26 04:50] frandiox commented on #16
@Stumblinbear I don't think there's anything that can be done in `vite-ssr` for this.

@aleclarson Do you think it's possible to skip the compression in SSR builds?

[2021-04-26 16:47] aleclarson commented on #16
Skip it for both `dist/client` and `dist/server` builds?

[2021-04-27 04:00] frandiox commented on #16
@aleclarson I think it's only needed for `dist/server` build. The `dist/client` is only assets that don't need to be imported in Node. Perhaps the only exception is the `dist/client/ssr-manifest.json`, but I guess that can be excluded using the `extentions` option 🤔

[2021-04-27 15:22] aleclarson commented on #16
Okay, I've released a fix in v2.1.0

[code]

[2021-04-27 15:54] frandiox commented on #16
@aleclarson Thank you for the quick update!

@Stumblinbear please try the new version of `vite-plugin-compress` with the new `exclude` option as mentioned 👍

[2021-04-27 15:54] #16 closed

[2021-04-28 08:03] IlyaSemenov opened #17 "SPA mode: deserialization error"
The documentation says one can use SPA mode:

However this results in deserialization error:

[code]

[2021-04-28 08:31] IlyaSemenov opened #18 "Add built-in production server and expose server APIs"
It doesn't make sense to re-implement production server every time.

Similarly to `vite serve`, there should be `vite-ssr serve` that runs a local web server.

Also, there should be lower-level exports (say in `vite-ssr/server`) for:
* `renderHtml` (so that the end user doesn't need to deal with importing from `dist` folder, suppress type warnings, etc.)
* `createApp` or something along the lines,

[2021-04-28 09:42] IlyaSemenov opened #19 "Don't store full filenames in ssr-manifest.json and main.js"
Currently, `ssr-manifest.json` stores _full local_ filenames:

[code]

`main.js` also has this:

[code]

* That is not safe from the privacy point of view.
* That most probably means that the package is not redistributable (I am yet to try, but I wouldn't be surprised if it won't work)

[2021-04-28 09:49] IlyaSemenov opened #20 "ssr-manifest.json should be stored in dist/server"
I believe `ssr-manifest.json` is logically a server dependency and thus should rather be stored in `dist/server`.

Let's say I want to deploy a SSR server as a micro-service (and publish assets at CDN).
For the micro-service, I will need the entire `dist/server` folder and for some reason one file from `client` (which is not used by the client itself). How so?

[2021-04-28 10:00] frandiox commented on #20
@IlyaSemenov Yeah I thought the same. The thing is that the `ssr-manifest.json` is created by the Vite non-SSR build. That's why is written to `dist/client` with all the other non-SSR assets: https://vitejs.dev/guide/ssr.html#generating-preload-directives

I guess it's possible to copy it to the `dist/server/` directory after both builds are done 🤔

[2021-04-28 10:18] frandiox commented on #19
@IlyaSemenov `ssr-manifest.json` is created by Vite itself so I think this is something that can be discussed in Vite's repo instead.

To my understanding, the paths are not really used as real "paths", but as "unique identifiers". Therefore, it shouldn't matter which machine runs them. Therefore, when the server renders a page with a dependency on `User/path/xxx.js`, it will map it using the ssr-

[2021-04-28 23:56] zernonia opened #21 "import { createSSRApp } from 'vue' *(Cannot use import statement outside a module)"
After I run `vite-ssr build`,  then I follow the example for deploying to Serverless function (Vercel) but i ran into such problem.

There's no error during build phases.

Below are the error while previewing Vercel locally.
[code]

Then I tried to deploy straight to vercel, similar error as such

[code]

Finally, I've tried deploy as ExpressJS, similar issue happens.

[2021-04-30 01:59] frandiox commented on #18
Thanks for the suggestions.

While this is possible, a production server normally needs more logic than just running `vite-ssr`. In a typical setup, your production server will also run Express/Koa/Fastify/etc to serve your API (which can be consumed by the rendering app). This logic is completely custom and is not something that a generic local server in `vite-ssr` can handle.

Apart from that, `

[2021-05-04 06:10] frandiox commented on #21
@zernonia This path seems wrong: `C:\Coding\my-vitesse-app\serverless\node_modules\vite-ssr\vue\entry-server.js`

`vite-ssr` shouldn't be in `my-vitesse-app/serverless/node_modules`, but in `my-vitesse-app/node_modules` 🤔

Have you modified `vite.config.ts` or `serverless/package.json`?

Can you verify that your `dist/server/main.js` (after building) contains something like this around lines 30-40

[2021-05-04 13:46] #17 closed

[2021-05-04 16:12] zernonia commented on #21
Hi @frandiox , thanks for the reply. I've checked my `dist/server/main.js` and it shows that I have the following lines

[code]

I deleted the previous template and clone it again, then run the build step and it seems to have solved the problem.
I've tried to reproduce the similar issue again but failed to do so

Thank you so much for awesome ssr solution and sorry for the trouble..

[2021-05-04 16:12] #21 closed

[2021-05-05 23:01] tcastelly opened #22 "Extract Apollo cache for SSR"
Hello,

I'm trying to use Apollo Client with SSR and React.
My idea was to create a `InMemoryCache` and extract data from the store. It seams that `viteSSR` does not wait the resolution of a query. If I add a `setTimeout` to the hook of `viteSSR`, I cant print the good content of the store.
According the [Apollo Documentation](https://www.apollographql.com/docs/react/api/react/ssr/), I have to use

[2021-05-06 02:51] frandiox commented on #22
Hi @tcastelly ! Tell me if something like this works in your project:

[code]

[code]

[code]

If this works, I will add a second parameter `defaultTransformer` to the `transformState` hook so you don't need to care about stringify/parse and escaping dangerous characters for XSS.

[2021-05-06 07:39] tcastelly commented on #22
Thank you for your help.

In the main.jsx, the state is always null.
I create a project it can be easier to test:

https://github.com/shenron/vite-ssr-starter

[2021-05-07 10:16] IlyaSemenov commented on #18
Not really. You're explaining the behemoth approach, which has been long discouraged. In a typical modern setup, each HTTP service does solely its own job. One doesn't mix SSR and API server in the same process, this is an anti-pattern. So running a dedicated SSR server _is_ a typical setup in a proper modern architecture.

If several HTTP services are to live under the same domain name (in produc

[2021-05-07 10:19] IlyaSemenov commented on #20
I see. If Vite wants it this way it probably makes sense to keep it as is (or discuss upstream).

[2021-05-07 10:19] #20 closed

[2021-05-09 15:41] frandiox commented on #22
@tcastelly Ah right, I forgot about the development server. This fixes it and is a bit simpler:

[code]

You can stop passing `initialState: { apolloCache }` from your production server since it's already done in the main hook.

[2021-05-09 16:02] frandiox commented on #22
@tcastelly I've added `defaultTransformer` in `0.8.1`. You can simplify the `transformState` like this (keep the code in the main hook as in the previous comment):

[code]

[2021-05-09 16:04] #7 closed

[2021-05-10 19:40] tcastelly commented on #22
Thank you for your help. I updated the plugin and files like this:

main.jsx
[code]

Maybe I miss something, but The behavior is the same. The SSR does not wait the end of the Graphql query (I have "Loading ..." in my DOM).
I created an other project without the ssr plugin:
https://github.com/shenron/vite-ssr-react-demo/

The only way that I found to fix my issue id to use:
[code]

[2021-05-12 00:49] replygirl opened #23 "Template refs not available in ClientOnly"
When a template ref is applied to a VNode slotted in ClientOnly, the ref is never available

## Example
[code]

### `package.json` for afffected project

[code]

[2021-05-12 12:42] frandiox commented on #22
@tcastelly I've been playing with Apollo internals for a while and I think I got it working. The simplest solution is probably using `getDataFromTree` instead of React's `renderToString` until Apollo supports Suspense. I'll try to figure out a way to provide it in `vite-ssr` API soon 👍

[2021-05-12 13:21] frandiox commented on #23
@replygirl Hi!

The `ClientOnly` component is really simple and is copied from [Vitepress](https://github.com/vuejs/vitepress/blob/master/src/client/app/components/ClientOnly.ts).
However, this behavior is indeed confusing. I think this can explain it:

### onMount

The current component's `onMount` runs **before** ClientOnly's `onMount` (since the current component is the parent). Therefore, sinc

[2021-05-12 16:19] tcastelly commented on #22
Thank you for your help.

I have issue with `getDataFromTree`, during the "hydration" this article helped me:
https://lihautan.com/hydrating-text-content/

So instead I use `renderToStringWithData`.

[2021-05-13 14:07] stolinski opened #24 "HMR Infinite Loop with wss settings"
Our vite config has the following config to connect via ssl in dev.
[code]
This config works fine with the standard vite cli, but causes an infinite loop using vite ssr. It's hard to debug because of the nature of things, but it seems like the wss connection is failing causing a refresh on loop.

The network shows a 502 request.
[code]

It's kind of tough to put together a reproduction given the s

[2021-05-13 15:24] stolinski commented on #24
Small update here. I'm seeing that Vite SSR is getting the hmr settings, because it's getting the correct host and port, but for some reason it's not connecting when using SSR

[2021-05-13 19:18] frandiox commented on #24
@stolinski Hi!
I've never tried SSL or WS in Vite so right now I don't know much about this issue.
However, I've noticed that there was a difference in how WS was setup in `vite-ssr` vs `vite`. Perhaps is the source of the issue, but maybe not.

I've created a [PR](https://github.com/frandiox/vite-ssr/pull/25) refactoring the dev-server and the usage of WS should now be similar to Vite.
If you hav

[2021-05-13 19:40] frandiox commented on #19
There's a PR for this in Vite repo: https://github.com/vitejs/vite/pull/3315

[2021-05-14 04:19] frandiox commented on #24
@stolinski So I've read in Discord that this might just be related to Vite itself? In that case I guess there's not need to check that PR!

[2021-05-14 19:29] stolinski commented on #24
My hunch now is that it is an issue with Vite itself. I'm working on a reproduction, but in the meantime just going to use localhost instead of a custom dev domain. Thanks!

[2021-05-14 19:29] #24 closed

[2021-05-16 18:54] frandiox commented on #22
@tcastelly Can you check `v0.9.0`? It should use `renderToStringWithData` automatically if it detects you have `@apollo/client` and `@vitejs/plugin-react-refresh` installed.

I tried it in your repo and it does await for the `loading` variable to become `false` so it doesn't render `Loading...` anymore. However, the GraphQL query returns `undefined` for some reason but that might be related to the

[2021-05-17 16:39] #23 closed

[2021-05-18 08:00] tcastelly commented on #22
It works better thank you :)
But I have a strange behavior.

In this [demo project](https://github.com/shenron/vite-ssr-plugin-react-demo), each page [resolve props once](https://github.com/shenron/vite-ssr-plugin-react-demo/blob/master/client/api.jsx#L20) and the home page resolve a [QraphQL query](https://github.com/shenron/vite-ssr-plugin-react-demo/blob/master/client/pages/Home.jsx#L6).

In th

[2021-05-18 12:06] frandiox commented on #22
@tcastelly I think that's expected 🤔 . Only the first route gets the `initialState` in its `route.meta.state` after rehydration. Further navigation (SPA mode) to other routes don't get anything in their respective `route.meta.state`.

I'm not sure what you are trying to accomplish. If you need the whole `initialState` in every page, you can pass it from your App.jsx as props I guess.

Also, are yo

[2021-05-18 13:12] frandiox commented on #22
I've added a simple example for manual testing based on your repo here: https://github.com/frandiox/vite-ssr/tree/master/examples/react-apollo

[2021-05-18 13:18] tcastelly commented on #22
I'm agree, only the first route gets the initialState.

I created this project from your react example, add I added an Apollo Query to try. So I mixed Apollo queries and page props. Maybe not a good idea because there is no more props in pages during the first launch.

Anyway, vite-ssr plugin with Apollo works now!
Thank you very much for your time.

[2021-05-18 13:18] #22 closed

[2021-05-18 13:24] frandiox commented on #22
@tcastelly Thanks for all the reproduction and information you provided here, glad it's now working!

[2021-05-21 23:15] MichalCipa opened #26 "Dynamic imports doesn't work in dev:SSR mode"
This works:
[code]

This doesn't
[code]

Error:
[code]

It works when u first load another page then navigate over VueRouter / Dev:SPA also build seems to work.

[2021-05-25 11:42] jwahdatehagh opened #27 "Way to pass router configuration [VUE]"
Hi - great package!

What do you think about adding the possibility to pass router configuration to the viteSSR? Right now it's not possible to leverage other configuration options like `scrollBehavior` or `linkActiveClass`.

Happy to work sth out and submit a PR as well.

[2021-05-25 11:57] frandiox commented on #27
@jwahdatehagh  Hi! Sure, a PR would be welcome.
Maybe an API like this?

[code]

[2021-05-29 19:16] frandiox commented on #26
@MichalCipa Woops, somehow I missed this issue.

I think Vite 2 doesn't like that kind of import anymore. I believe it used to work in Vite 1 but in the current version I think you need to use Vite's glob import: https://vitejs.dev/guide/features.html#glob-import

If you do that and save the resulting object somewhere, then I think you can import the components later by finding the key that matche

[2021-05-31 13:58] nwaughachukwuma opened #28 "Internal server error: Unexpected token '.'"
Hi @frandiox, thanks for such an awesome library.

I'm currently getting the following error when I try to declare and use Vuex store

[code]

[code]

If I removed the optional chaining `state.user?.uid` and did `state.user && state.user.uid` it works alright. This has caused me to dynamically import `createStore` and initialize the store when not in SSR mode

[code]
Now the problem is that I can'

[2021-06-01 02:47] nwaughachukwuma opened #29 "Route params not exposed as props in SPA mode"
Say I define my routes as follows:

[code]
...In SPA mode, I don't get the `vid` param as a prop and in SSR mode, I have to patch `to.meta.state` as shown below to get `vid` param injected into the component as a prop.

[code]

I guess I'm not doing something right

[2021-06-01 03:42] #29 closed

[2021-06-01 03:43] frandiox commented on #29
@nwaughachukwuma Thanks for reporting! Can you try `0.10.2` and [add `props: true` to your routes](https://next.router.vuejs.org/guide/essentials/passing-props.html#passing-props-to-route-components)?

[2021-06-01 04:17] nwaughachukwuma commented on #29
Thank you @frandiox, it works alright now!

[2021-06-01 05:20] nwaughachukwuma commented on #28
@frandiox, this looks like it's related to Vite. Any thought on what fixing it would require?

[2021-06-01 05:24] frandiox commented on #28
@nwaughachukwuma Didn't have time to check this properly but the syntax issue might be related to `tsconfig.json` if you are on TypeScript (lower the target/lib to `es2019` or whatever). Otherwise, try latest Node 14 and see if that works.

[2021-06-01 05:45] nwaughachukwuma commented on #28
This fixed it, thank you!

[2021-06-01 19:59] jeanfrancoisgb opened #30 "Change routes, based on locale detected in base method (way to localize paths)"
Hi,

Not sure it's the right place but I'm taking a chance here since it may generate ideas for ways to implement this (in a smart way that I'm tring to) in the future.

I'm trying to give to ViteSSR different routes based on localization.

First idea was to try to set the routes (with router.addroute()) inside of the base method inside ViteSSR export, but it's too late to edit the routes, it abso

[2021-06-01 22:24] stolinski opened #31 "/public manifest.json overwritten"
Using the latest, if you have a public/manifest.json for Web app manifests https://developer.mozilla.org/en-US/docs/Web/Manifest it becomes overridden to nothing.

I've found a work around by putting the manifest file in a folder. I can add a note to the readme about this if this functionality is intended.

[2021-06-02 11:40] #31 closed

[2021-06-02 11:41] frandiox commented on #31
@stolinski Vite was creating the manifest automatically and overwriting yours. In the latest version it will be only generated if you pass `build.manifest: true` in your `vite.config.js` 👍

[2021-06-02 18:35] #30 closed

[2021-06-02 22:22] MichalCipa commented on #26
@frandiox Hi!
somehow it started to work on latest version. But this info is very helpful as well. Thanks!

[2021-06-02 22:22] #26 closed

[2021-06-03 13:35] #28 closed

[2021-06-09 09:39] daichi-ranguru opened #35 "[SSR] On state serialization - TypeError: Converting circular structure to JSON"
Hey comunity!

I found myself in weird position where I found something that may be a bug(?) - namely: When this plugin tries to stringify state (in utils/state.js) that is then injected to FE, the JSON.stringify throws and error that theres circular structure.

It throws error like this:
<pre>`[SSR] On state serialization - TypeError: Converting circular structure to JSON
    --> starting at obje

[2021-06-09 09:47] frandiox commented on #35
@daichi-ranguru Hi! The default serialization strategy assumes you have an object that can be passed to `JSON.stringify`. Circular dependencies break `JSON.stringify` so you need to either fix that on your end (removing circular deps in your `initialState` object), or overwrite the default serialization strategy.

To overwrite it, there's a hook mentioned [here](https://github.com/frandiox/vite-ss

[2021-06-09 10:17] daichi-ranguru commented on #35
@frandiox  Hey! Glad to hear from you this quickly - writing my custom hook helped!
Ill leave this here for future if someone gets this error too, but somehow didnt figure it out from docs.

Thanks again!

[2021-06-09 10:17] #35 closed

[2021-06-22 06:37] Innei opened #39 "how to use nested route in react-router"
It only resolve root of the path `pages`, but can't resolve some page in child folder.

[code]

[2021-06-22 06:38] #39 closed

[2021-06-24 13:04] MarvinRudolph opened #41 "Add initialState example with a store (vuex/pinia)"
Hey!

The docs describe the use of Vuex for the initial state but I'm not 100% sure how I need to use that in a component.
For me, it sounds like that I either need to use `app.provide` (& `inject` in components) or a store like Vuex. Is this correct?

Currently my code sets the state of the store to the value of the `initialStore` parameter. The value is available in my components, but only on th

[2021-06-25 18:42] #27 closed

[2021-06-26 15:43] IlyaSemenov opened #43 "Crash on Vue 3.1 using onServerPrefetch"
vite-ssr crashes when using `onServerPrefetch`.

Example code:

[code]

## Steps to reproduce

[code]

[2021-06-26 15:47] IlyaSemenov commented on #43
Interestingly, in a slightly different environment I'm getting different crashes (on the same component):

[code]

[2021-06-26 17:11] MarvinRudolph commented on #43
@IlyaSemenov You are importing from `"@vue/runtime-core"` which isn't correct, I think. Try to import from `"vue"` instead.

[2021-06-26 17:23] MarvinRudolph opened #44 "[Vue Router warn] No match found for [...] '/node_modules/.vite/chunk...'"
vite-ssr v0.10.5
vue-router v4.0.10
vite v2.3.8

Sometimes I'm getting following messages in the console when the server (dev & production) is running:
[code]
Any idea where this is coming from since the router is configured by vite-ssr? I'm using `vite-plugin-pages` for the routes.

**EDIT:**
Not sure what caused this but it's gone after reinstalling all dependencies.

[2021-06-26 18:34] IlyaSemenov commented on #43
@MarvinRudolph You must be kidding... `vue` simply re-exports these symbols from `@vue/runtime-core`.

But for the sake of brevity, I updated the reproduction repo. Obviously, that didn't change the outcome, it still crashes the same way.

[2021-06-26 19:22] MarvinRudolph commented on #43
@IlyaSemenov Well, it works for me. It crashes when I import from runtime-core with `Internal server error: Cannot read property 'replace' of undefined`. No errors when importing from vue.

[2021-06-27 09:35] IlyaSemenov commented on #43
Yes, it is correct according to the [documentation](https://github.com/vuejs/vue-next/tree/master/packages/vue#with-a-bundler):

_"This means you can install/import these deps individually [...]"_

Vite (or rather, esbuild) uses `node_modules/vue/package.json`:

[code]

which simply says:

[code]

There is nothing different or magic in this.

That simply means there is some kind of race condition.

[2021-06-27 10:13] MarvinRudolph commented on #43
I don't have any problems with `alias` and `onServerPrefetch` in a TypeScript project. Resolves modules with `@/foo.ts` without problems, no errors or crashes. Maybe your `tsconfig.json` is wrong?

[2021-06-27 14:44] IlyaSemenov commented on #43
Let's please stop this conversation, because you're not helping.

I have provided the reproduction repo which the project author may (or may not) find useful.

[2021-06-27 17:22] MarvinRudolph commented on #43
Just wanted to help ¯\_(ツ)_/¯

[2021-06-28 12:03] IlyaSemenov commented on #43
I realise that you wanted to help, but you gave three meaningless advices in a row:
1) Replace import source, without understanding that it's simply a shortcut re-export.
2) Remove `alias` from vite config, without understanding that aliases have nothing to do with the problem (and even if it **did** help by coincidence, that would constitute an error by itself).
3) Check `tsconfig.json` (without

[2021-06-28 12:09] IlyaSemenov commented on #43
On a separate note, I worked around the problem by implementing a hook similar to `fastify-vite`'s `useServerData`, which:
* writes to `initialState` during SSR
* pulls data from `initialState` during initial render/rehydration
* runs code client-side after SPA navigation

Still, I believe `onServerFetch` deserves to be fixed.

[2021-06-28 12:21] MarvinRudolph commented on #43
Wow, you are so smart, Ilya! Everyone should fall to the knees in front of you. 🙄
It still works without any problems for me when following the documentation. No problems with `onServerPrefetch` in a ts project. So at this point it's clearly your fault if you can't set up the project correctly. Why not just create your app with the vite cli? No need to be unfriendly to people who just want to help

[2021-06-28 18:03] IlyaSemenov opened #47 "Hard crash (process exit), something causes importing client entry during SSR"
This is a spin-off of https://github.com/frandiox/vite-ssr/issues/43 where I incorrectly identified the problem at first.

## Problem

In a small reproducible case, something causes importing client entry during SSR, which leads to hard crash (process exit). I had this on a larger project, but then simplified the setup to bare minimum for the reproduction.

## Reproduction

https://github.com/Ilya

[2021-06-28 18:09] IlyaSemenov commented on #43
Thank you for pointing that without aliases it does work. I concur that, and I was able to significantly simplify the reproduction case.

Of course, that doesn't mean that aliases itself are the problem (it is a widely used, documented feature), but it means that the problem resides at some different level, apparently in SSR module resolver/loader. Using aliases + `onServerPrefetch` simply surface

[2021-06-28 18:09] #43 closed

[2021-06-30 10:58] frandiox commented on #47
Thanks for the repro, I'll try to check it soon 👍

[2021-06-30 18:07] #47 closed

[2021-06-30 18:09] frandiox commented on #47
So it was grabbing the first alias that contained `vite-ssr` for some internal logic, and it was finding your custom alias instead of the correct one. Should be fixed in `0.10.6` 👍

[2021-06-30 18:55] frandiox commented on #19
Seems to be fixed in Vite `2.4.0-beta.2` 👍

[2021-06-30 18:55] #19 closed

[2021-07-01 10:56] domsen123 opened #52 "bootsrap"
how can I load bootrap 5 in client only?

[2021-07-01 11:12] juvirez opened #53 "vite.config properties is ignored"
The `vite-ssr` detects the root of the project as a directory where vite.config is placed. But the root may be different. The root can be defined in vite.config: https://vitejs.dev/config/#root

Also `build.outDir` is ignored too. The `vite-ssr` is only built in `./dist`.

[2021-07-01 17:48] MarvinRudolph opened #54 "[v0.10.6] `request` & `response` not available in entry hook when importing from `vite-ssr/vue`"
Hey!

After I've upgraded from `v0.10.5` to `v0.10.6`, TypeScript no longer knows that the `request` & `response` properties exist in the entry hook.
[code]

[2021-07-02 13:16] IlyaSemenov opened #55 "Server-side redirect"
`vite-ssr` currently lacks any reasonable option to perform a server-side redirect.

Even though `response` object is passed in context, one can't use it like:

[code]

because vite-ssr will always try to end it itself:

https://github.com/frandiox/vite-ssr/blob/d758af9fc102700aa666ac92d5efa6fa55da67a7/src/dev/server.ts#L103-L107

Suggestions:

* at the very least, wrap the 3 last 3 lines like:

[

[2021-07-02 13:17] IlyaSemenov commented on #55
Ideally, both `vite-ssr/vue` and `vite-ssr/react` integration should simply provide `redirect` functions which will work both in SSR and on client side, similar to how Nuxt works.

[2021-07-04 14:13] #53 closed

[2021-07-04 14:32] #54 closed

[2021-07-04 15:40] frandiox commented on #44
Hi! I haven't seen this error before. Can you provide a small repro? Does it also happen without SSR? (with `vite dev` instead of `vite-ssr dev`)

[2021-07-04 15:48] frandiox commented on #52
I don't know much about bootstrap but there are a few ways to load things only in browser:

- `if (!import.meta.env.SSR) { await import('...') }`
- `if (!import.meta.env.SSR) { document.body.appendChild(document.createElement('script')) }`
- Use two separate entry points (see "Using separate entry files" in [Readme#Usage](https://github.com/frandiox/vite-ssr#usage)).

If you want to render part of

[2021-07-04 16:12] #52 closed

[2021-07-04 20:18] frandiox commented on #55
@IlyaSemenov Can you have a look at this? https://github.com/frandiox/vite-ssr/pull/59
It's only implemented for Vue but I'd like to get some feedback to see if that's enough for general use-cases.

The `redirect` function can be used from the main hook or from any component. In components, it can be injected with a new `useContext()` hook. I think the same should be possible in React.

[2021-07-05 17:18] IlyaSemenov commented on #55
@frandiox Since you came up with a relatively deep refactoring I believe it's worth it to take one step more and 'generalise' it to to support arbitrary status and/or text (non-Vue-rendered) responses. One particular use case I have in mind is rendering HTML with Vue but returning it with status 404 in SSR requests against URLs like `/show-item/:id` where item with given id doesn't exist.

[2021-07-10 08:22] Lord-Y commented on #41
@MarvinRudolph Did you figure out how to make it work? I'm having the same issue

[2021-07-10 12:01] MarvinRudolph commented on #41
With pinia, yes. See the link above. But not with Vuex because I don't use it.

[2021-07-17 06:34] kadiryazici opened #62 "Outdir option not working"
When you have outDir option in vite.config.ts vite-ssr doesn't follow the rule and bundles every file to `dist`  in main folder.

[2021-07-17 08:09] frandiox commented on #62
Hi! This was already reported and fixed in #53 but it hasn't been released yet.

I will make a new release in a few hours 👍

[2021-07-17 08:09] #62 closed

[2021-07-17 08:12] kadiryazici opened #63 "Build error with plugin legacy"
If you use `@vitejs/plugin-legacy` in the project and try to build server, this error occures

[code]

[2021-07-17 08:33] kadiryazici commented on #63
Legacy compiles client side values correctly but it tries to compile server too.

[2021-07-17 14:12] frandiox commented on #63
This was mentioned in https://github.com/frandiox/vite-ssr/discussions/58

@johnRivs I managed to reproduce the issue finally 😅

[2021-07-17 14:12] #63 closed

[2021-07-17 14:20] frandiox commented on #55
Implemented in #59 🎉
Thanks for all the help!

[2021-07-17 14:20] #55 closed

[2021-07-17 14:45] frandiox commented on #41
The example with Pinia is already in the readme. I think that should be enough for now 🙃

[2021-07-17 14:45] #41 closed

[2021-07-20 12:29] MarvinRudolph commented on #44
@frandiox I just checked the issue again and it only happens when new dependencies were found. If I run `vite-ssr` it always finds new dependencies, even if vite has already detected and cached them. When I run `vite` (non-ssr mode) it detects those dependencies again but after that running `vite-ssr` works fine. Can you somehow check that or do you know why this happens, does vite-ssr not registe

[2021-07-21 08:47] michalpaukert opened #67 "Base path"
Hi,
is there possibility to use this configuration https://vitejs.dev/config/#base to configure base path?

In my case it is not working if I use this in vite.config.ts with this configuration: "build": "node node_modules/vite-ssr/cli.js build",

[2021-07-21 10:25] #67 closed

[2021-07-21 11:23] frandiox commented on #67
@michalpaukert Did you figure it out?

[2021-07-21 15:27] michalpaukert commented on #67
Yes it is configurable in vite.config, but does not work in development mode

[2021-07-25 20:22] kadiryazici commented on #18
We can have `vite-ssr preview` script like `vite preview` does. It will create a custom server with `http` module in nodejs.

[2021-07-26 11:36] frandiox commented on #18
@kadiryazici Yeah, I'm adding `preview` to Vitedge, which wraps this package, so I will probably implement it here as well. While I'm at that, I will probably make that logic public so anyone can import it in a production Node server.

[2021-07-26 11:37] frandiox commented on #44
@MarvinRudolph `vite-ssr` is just calling `vite` internally after adding a plugin and a couple of environment variables, so it shouldn't be interfering with Vite's logic too much. A small repro would definitely be helpful!

[2021-07-31 07:07] Xenonym opened #70 "Don't remove `client/index.html` during build"
`vite-ssr build` removes `index.html` from the client bundle:

https://github.com/frandiox/vite-ssr/blob/f376c925874661bc31e9bedf76b923b2c6676633/src/build/index.ts#L113-L119

I was not expecting this behaviour as a normal Vite SSR build would include the `index.html` in the client bundle.

For my purposes, I _do_ want the `index.html` in my client bundle, since I am only selectively using SSR on

[2021-07-31 11:55] frandiox commented on #70
Yeah, since `index.html` is already embedded in the SSR bundle, we just remove it to avoid downloading it by mistake as an asset.

I guess we can have a flag for this, and perhaps a way to pass it as a plugin option. PRs are welcome!
We can name this flag perhaps `--keep-index-html`? I'm open to suggestions 😅
To save plugin options for the build, there's an example [here](https://github.com/frandi

[2021-08-07 15:16] Xenonym commented on #70
@frandiox Thanks for the reference! I tried following it for this issue, but your example plugin is in JS and this project is in TS, which poses some issues since I am not actually familiar with TS 😓

If I add a `build.keepIndexHtml` to `plugin.ts`:

[code]
[code]

I can't actually pull it in `build/index.ts`. The code below will not compile since the `Plugin` type does not have a `buildOptions` p

[2021-08-07 15:24] frandiox commented on #70
@Xenonym You can simply add `// @ts-ignore` before the problematic line for now. I'll check how to improve it later 👍

[2021-08-12 13:05] antony-k1208 opened #80 "Use router instance in some composable or any other external file"
Hi,

maybe I am missing something, but currently the router instance is only getting returned inside the viteSSR HookParams.

What if I want to use some kind of axios interceptor, in order to automatically redirect the user to some route in case of a 401 for example.

Also I am thinking about implementing an auth composable in which there should be a login and logout method. These need to be able

[2021-08-12 18:01] MarvinRudolph commented on #80
I think if we would add the `router` to the context here https://github.com/frandiox/vite-ssr/blob/master/src/vue/entry-client.ts#L61 it should be available with `useContext()`. What do you think @frandiox, any specific reason to not have it in there?

[2021-08-13 06:20] antony-k1208 commented on #80
Exactly, that was I was looking for it also. But since it is not available on the context, I was wondering if I am missing something.

Imho its the only place where it would make sense.

[2021-08-13 11:18] frandiox commented on #80
I didn't add it to the context because you can just use vue-router's `useRouter` to get it, no?
https://next.router.vuejs.org/api/#useroute

[2021-08-13 11:32] antony-k1208 commented on #80
Sadly you can't. At least not everywhere, as mentioned in the docs: `Must be called inside of setup().`

[2021-08-13 11:45] antony-k1208 commented on #80
I've added a PR for this purpose #81

[2021-08-13 12:22] MarvinRudolph commented on #80
Not sure, but afaik `useContext` also needs to be called inside `setup`. Or does it work for you @antony-k1208?

[2021-08-13 18:28] gijsroge opened #82 "SSR breaks when adding attributes to the app wrapper div"
If you just start a fresh vite project and follow the vite-ssr vue documentation. When you run `vite-ssr dev` or build an ssr version and host it, you will get an empty page source (just an empty #app `<div/>`)

Tried debugging it but I cannot find the cause. Is this something you can reproduce?

[2021-08-14 16:49] wucdbm opened #83 "Exports and export assignments are not permitted in module augmentations"
Hi and thanks for what looks to be a very promising library

`node_modules/vite-ssr/index.d.ts:21:3 - error TS2666: Exports and export assignments are not permitted in module augmentations.`

Got this while linting the project with `vue-tsc --noEmit`

[code]

Updated `export default handler` to

[code]

And it stopped complaining.
Unfortunately, my skills in JS/TS only allow me to do so much -- I

[2021-08-14 17:17] wucdbm commented on #83
For anyone else wondering about, I found out that setting `"skipLibCheck": true,` under `compilerOptions` in tsconfig.json fixes the problem

I am unsure whether anything should be done with the library itself

Leaving it open for other strangers wondering what's going on

[2021-08-14 23:23] wucdbm opened #84 "Hook after renderToString and/or app.mount"
Heya, me again.

(vue.js 3.0 app)

I was reading the source code and noticed that our initialization hook is run early on, which is great, however, in my application (similar to https://pinia.esm.dev/ssr/#state-hydration example) I have my custom data stores.
Trouble is, those are filled with data by components at arbitrary levels deep, and I only have the data once the app has been fully rendered

[2021-08-16 10:54] frandiox commented on #80
@antony-k1208 As Marving mentioned, `useContext` is also a hook that can only be called in the same places as `useRouter` can. Therefore, I don' think it fixes any situation that `useRouter` doesn't already cover, right?

The reason we need to create/use the Router within a function, instead of exporting it from a different file, is that we need to make sure it is a fresh instance on every SSR req

[2021-08-16 11:08] #70 closed

[2021-08-16 11:21] frandiox commented on #82
@gijsroge I cannot reproduce it, no. I tried with the repo examples and it works well in both dev and prod. Can you provide a small repo with a reproduction?

[2021-08-16 11:24] frandiox commented on #83
Thanks for posting your solution! I'll check if this can be changed without breaking anything.

[2021-08-16 11:27] #83 closed

[2021-08-16 11:33] frandiox commented on #84
@wucdbm Hey thanks. What's your use case for this exactly?
There's a `transformState` hook that runs at the very end and gets the filled `initialState` as its first argument. This is normally used to make arbitrary modifications to the initial state and it can also be asynchronous. Therefore, I think this can be used in most situations.

Would that work for you?

[2021-08-16 11:52] antony-k1208 commented on #80
@frandiox I see. Thanks for your reply and the clarification. So I have to find a solution for my use case =)

Maybe we should merge the PR anyway, since the react part is already working like that. The router instance can be imported via the context. The two implementations should be aligned I'd say. And in react there are also corresponding hooks to get the router stuff or am I missing something

[2021-08-16 12:36] gijsroge commented on #82
@frandiox sorry, when trying to reproduce the issue I forgot to edit the vite config and main.ts like stated in the docs..

So we can probably close this issue as it just works fine when starting a fresh project. However when we upgraded from 0.10.6 to 0.12.0 it broke our ssr output.

I don't expect you to fix our issue, but do you have any tips in trying to debug this?

[2021-08-16 16:06] frandiox commented on #82
@gijsroge Ah I see, thanks for debugging it!

That's probably related to this line: https://github.com/frandiox/vite-ssr/blob/master/src/build/utils.ts#L18
I guess we can update that to a regexp and try to keep attributes 🤔

[2021-08-16 18:08] gijsroge commented on #82
Yeah, sounds like a great idea. No hurry, I'm avoiding the attributes for now.

Thanks for following up!

[2021-08-16 18:28] frandiox commented on #80
@antony-k1208 Well, the React version works quite differently. It's true that it provides `router` in the context, but that one is not an instance of "React Router". It's a custom router utility that we create in `vite-ssr` because React Router does not provide enough flexibility to await for async routes.

That's why I didn't add the Vue-router instance to the context, because if you get the rout

[2021-08-17 03:20] wucdbm commented on #84
I'll have a look next monday, that could very well be something that I overlooked!

[2021-08-17 10:09] antony-k1208 commented on #80
Okay, thanks for clearing things up. I don't know if users might think, that this is a custom wrapper and will search for some kind of documentation in that regards. I am totally fine with both solutions and learned a thing or two more, so I am happy either way =).

Thanks for your effort.

[2021-08-17 19:25] frandiox commented on #70
@Xenonym Released in 0.12.1. Thanks!

[2021-08-18 18:07] kadiryazici opened #86 "Module Node Server Export"
We need a module export option for node applications that runs with mjs.

For example I have a fastify server with module system and I cannot import `dist/server/main.js` becauase it uses require.

There can be an option like this for module nodejs or vite-ssr can bundle another file as main.mjs
[code]

[2021-08-19 11:56] frandiox commented on #86
This is available in the JS API but not in the CLI/Plugin options.
However, maybe it's enough using Vite normal config:

[code]

Can you check if that works for you? The generated `dist/server/package.json` will still have `type: commonjs` though :/

[2021-08-19 16:48] kadiryazici commented on #86
Yes that worked but I had some problems with packages like `pinia`. It is not importable with module nodejs. So what I did is I wrote a script that renames `main.js` as `main.cjs` and after that I was able to use vite-ssr with module nodejs.

[2021-08-20 06:55] kadiryazici opened #87 "Custom Context Types"
Hi, I'm trying to add custom types to context but none of things I tried worked. Is there a way for this?

[code]

or

[code]

[2021-08-20 08:56] KaelWD opened #88 "Custom index.html"
I have a testing environment that can use either vite or webpack, and to do this I've create a separate `index.vite.html` and `index.webpack.html` for each bundler. The following plugin works for vite without SSR, but vite-ssr has `index.html` hardcoded. I can't actually have a file called `index.html` or webpack will try to serve it.

[code]

https://github.com/frandiox/vite-ssr/blob/2019dc695a39

[2021-08-20 10:20] frandiox commented on #88
Hmm, yep, in SSR we need to read the original index.html template to inject stuff for every request, even those that are not directed to "index.html".

It doesn't look like Vite has an official way to modify `index.html` name in development but it has for production (using rollupOptions.input). Perhaps we can adopt that same API for development as well, so you just need to provide `rollupOptions:

[2021-08-20 10:26] frandiox commented on #87
I'm not an expert in TS types honestly, so not sure how it can be overridden. One thing you could do if you are using `useContext`, is create your own wrapper and export it: `export const myUseContext = () => useContext() as MyContext`

[2021-08-20 13:27] kadiryazici commented on #87
Maybe it is because you used `type` instead of `interface`. I will try to make a pull request.

[2021-08-20 20:05] #88 closed

[2021-08-20 20:08] frandiox commented on #88
@KaelWD At the end it will be an option of vite-ssr plugin because the one I mentioned earlier conflicts with the SSR build. `viteSSR({ input: path.resolve(__dirname, 'index.vite.html') })`. Will be released soon.

[2021-08-21 12:00] frandiox commented on #87
Closed in https://github.com/frandiox/vite-ssr/pull/89

[2021-08-21 12:00] #87 closed

[2021-08-21 14:30] #82 closed

[2021-08-21 14:30] #86 closed

[2021-08-21 14:34] frandiox commented on #86
@kadiryazici In the next version, the generated `package.json` should include `type: module` or `type: commonjs` according to the format you provide in the rollup options. I think this should help with imports.

Otherwise, it's also possible to rename the output at will:

[code]

[2021-09-04 22:17] wucdbm commented on #84
@frandiox Priorities shifted and it was left behind, I'll get back to the thread as soon as I'm back to that project
It's literally the only thing left before we have a stable project bootstrap and we must evaluate it against a custom solution

[2021-09-09 18:26] dchenk opened #97 "Double JSON stringifying"
I noticed that the `__INITIAL_STATE__` object that was being inserted into the HTML had lots of escaped double quote characters (i.e., `\"`), and it was because the entire initial state object was itself a string. Apparently the initial state is [put through `JSON.stringify` twice](https://github.com/frandiox/vite-ssr/blob/master/src/utils/state.ts#L17) before unsafe characters are escaped! That s

[2021-09-12 10:12] mvrlin opened #98 "initialState adds unnecessary attributes. Extraneous non-props attributes warning."
Hey! Thank you for the great SSR solution! I have an issue with the `initialState`: when I pass something inside, it adds attributes to the component.

<img width="889" alt="image" src="https://user-images.githubusercontent.com/24970784/132983569-53d5a22e-c136-417f-94cd-7ec992bcbf21.png">

The issue resolves by adding a wrapper to the page, but it adds unnecessary attributes 😢
Is there any solutio

[2021-09-12 12:35] frandiox commented on #97
@dchenk Hello! Thanks for raising this issue. Answering your questions:

As far as I understand, parsing JSON is faster for the browser than parsing JavaScript. Therefore, it's interesting to have the state object as a string where we apply `JSON.parse` later instead of having a literal JS object (which has more complex grammar, read more [here](https://v8.dev/blog/cost-of-javascript-2019#json) if

[2021-09-12 12:51] frandiox commented on #98
@mvrlin Hi there, glad you liked it!

I would say this is somewhat expected because the initialState is basically passed to your page component as props.
Therefore, you can declare every prop in your component (`props.viewport` in your case) so Vue knows what to do with them instead of rendering them as HTML attributes.

Alternatively, if you don't want to rely on props at all, you can pass `{ rou

[2021-09-12 13:15] mvrlin commented on #98
@frandiox Thanks! Yes, that solves the problem!

[2021-09-12 13:15] #98 closed

[2021-09-12 14:54] mvrlin opened #99 "Any way to make a local variable to sync between server & client?"
Hello 👋 I want to create a variable, that is from the `initialState`, but is local for only one request.

In this example, I have a stack, that adds and pops numbers. The value is coming from the `initialState`. Everything works fine, except, that the `initialState` stays the same for every page refresh. Is there a way to define a "local" kinda variable?

[code]

[code]

[2021-09-14 09:25] frandiox commented on #99
@mvrlin Hi!

The problem is your `const state` variable. That one is shared in your server since each file/module is only read once at the beginning (and reused for every request). This is just a constraint of how SSR works.

The solution is not having a global/shared variable like this but rely on variables that are created once per request, such as the initialState. E.g. use `initialState.stack`

[2021-09-14 20:46] wucdbm commented on #84
@frandiox No, unfortunately, that hook will **not** help, let me attemp to describe the issue

My main.ts looks like this

[code]

The issue here is, that in my components, I do this

[code]

The thing is, I'll have the data in the `ssrCache` I passed to urql earlier ONLY AFTER I have awaited all of its promises via `onServerPrefetch`.
So in that sense, I need to be able to, in addition to `head`,

[2021-09-15 05:26] frandiox commented on #84
@wucdbm  Yeah I think I understand the use case. I've done this with Apollo before so I think it should work the same way with URQL.

Can you test something like this?

[code]

The key here is to save the ssrCache in the initial state object so you have access to it later in the `transformState` to serialize it.

There are other examples that follow this strategy with [apollo](https://vitedge.js.o

[2021-09-15 09:16] wucdbm commented on #84
@frandiox That'd definitely work, yes, but looks ugly -- IMO we shouldn't mess with business objects attached to a container that contains pure state only
On one hand, with my solution it'd need some more documentation or people to browse the source code to figure things out (I've done a lot of that on this and other libraries), on the other though, as a project evolves and becomes more complex, t

[2021-09-15 11:53] wucdbm commented on #84
@frandiox Just to confirm, your solution works fine

[2021-09-15 14:04] mvrlin commented on #99
@frandiox Thank you so much for the quick response! It's finally coming together in my head 😅

[2021-09-16 10:32] MrParano1d opened #102 "Error: Cannot find module 'strip-ansi'"
Dependency 'strip-ansi' is in your master branch but not in your current release: https://github.com/frandiox/vite-ssr/releases/tag/v0.13.1

This results in an error:

[code]

[2021-09-16 10:34] MrParano1d commented on #102
And if I add it manually it returns this error:

[code]

[2021-09-17 02:50] frandiox commented on #84
The problem in returning that hook is that it's not isometric because it would not be used in the browser.
It would be nice if the cache instance implemented a `.toJSON` method that is automatically called by `JSON.stringify` 🤔

Regardless, I'll give it a thought anyway since it's always possible to improve the API to something that is easier to understand.

Closing this for now since the main iss

[2021-09-17 02:50] #84 closed

[2021-09-17 03:47] frandiox commented on #84
@wucdbm One more thing, can you try something like this?

[code]

Not sure if this is easier but at least it doesn't need to define `transformState` 🤔

[2021-09-17 04:57] frandiox commented on #102
@MrParano1d Thanks. I've released the latest master in 0.13.2 👍

[2021-09-17 04:57] #102 closed

[2021-09-17 13:22] wucdbm commented on #84
Yup, the one in the comment with `toJSON` is actually great

[2021-09-17 13:33] wucdbm opened #103 "Making SharedContext generic - being able to type initialState"
Heya, me again.

Have you considered making SharedContext (and anything that extends it as a consequence) generic, in order to be able to select my own type for it like `HookParams<MyStateType>`
What consequences would a change like that introduce to the library in terms of TS errors across entry files?

[2021-09-17 14:27] frandiox commented on #84
@wucdbm Do you think that would be a better fit for official examples? 🤔 (instead of using transformState hook)

[2021-09-17 14:49] frandiox commented on #103
@wucdbm I think this is possible by doing a type overwrite right now: https://github.com/frandiox/vite-ssr#custom-typings
I think this is more flexible than generics because we would need a bunch of them (initial state, request, respose, and maybe more generics).

Tell me if that works.

[2021-09-17 21:58] wucdbm commented on #84
I think both -- some people may not like the "black magic" - If anything, at least include a link to https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify#description
I wasn't aware of it myself, actually, but guessed it's something like that based off of your example and found the documentation later

[2021-09-17 23:36] wucdbm opened #104 "emptyOutDir seems to be hardcoded to false"
Is that on purpose, can we allow it to be controllable on the client build seeing as it runs first, and hardcode false for the server build as we can't clear it at that point?

[2021-09-18 03:10] wucdbm commented on #103
@frandiox Doesn't seem to work for me -- either not at all (it's still Record<string, unknown|any>) or TS keeps complaining that the types are incompatible

Before your suggestion I tried forcing my type by omitting the initialState property and then creating a union with another type that has the correct state type - didn't work either

Something else I could do is actually `const state = initial

[2021-09-18 18:11] kslstn opened #105 "How to prerender routes for production?"
The readme says:

I wonder how? The readme doesn't mention installing a CLI.

Context: my production server isn't actually running the application—I want to prerender all routes of my application as html files and put them on basic Apache hosting.

[2021-09-18 22:48] plashenkov opened #107 "Dev server mode: styles applying delay"
Hi!

There is a visual problem when using `vite-ssr` in dev server mode: the styles applying delay.

When you load/reload a page, you see it without styling first. And after a moment you can see how styles apply.

When using vanilla `vite` in dev server mode, or when serving built application (with SSR) in production mode, there is no such issue.

Is there any way to workaround this?

[2021-09-19 06:13] frandiox commented on #104
I don't really remember what was the reason to have `false` as the default 🤔
In any case, you can override that. I think by just passing it to Vite as a normal option should affect both front and backends. Otherwise, you can pass options only for the frontend build in Vite SSR plugin:

[code]

[2021-09-19 06:35] frandiox commented on #105
@kslstn Well it mentions you need to install `vite-ssr` as an NPM dependency, which also adds a small CLI to your project.

In any case, Vite SSR is for rendering routes at runtime in your server (server side rendering). It does not support rendering at build time out of the box, and that's what you seem to be looking for.
I would suggest having a look at [`vite-ssg`](https://github.com/antfu/vite

[2021-09-19 06:42] frandiox commented on #107
@plashenkov Hi! This is an issue in Vite itself when using SSR: https://github.com/vitejs/vite/issues/2282

There are some workarounds mentioned in that issue that you could try I guess.
For `vite-ssr` itself, since it only happens in development I'm rather hoping that the issue is fixed upstream instead of implementing a workaround here. Although I would be open to PRs of course.

[2021-09-19 07:01] kslstn commented on #105
Thank you! `npx vite-ssr build` is recognized a command (I tried `npm vite-ssr build` before, but that didn't work). Now unfortunately I don't get a build with the sample setup ("Cannot find module 'vite'"), so I'll try vite-ssg.

[2021-09-19 09:22] frandiox commented on #103
@kadiryazici Hey! Can you give some hints here? I guess you need to do something with the `tsconfig.json`?

[2021-09-19 09:23] #105 closed

[2021-09-19 10:00] plashenkov commented on #107
@frandiox Ah, I see, thank you.

Yes, that totally makes sense. Let's close this for now and hope this will be fixed in Vite.

[2021-09-19 10:00] #107 closed

[2021-09-19 15:38] kadiryazici commented on #103
You need to include files to have custom types support.

[code]

### src/types.ts
[code]

[2021-09-20 02:14] wucdbm commented on #104
Hmpf, you're right. I had tested with server only, however, after drilling into the source code, I just realized that the output directory when building with this library isn't `~/dist`, but `~/dist/client` and `~/dist/server`
So what I'll do is clear both.

However, as part of my build process, what I'm trying to achieve is to have the client as static files uploaded somewhere on a server, and fo

[2021-09-20 02:16] wucdbm commented on #103
Will give it a try after Wednesday. I've actually used the same approach with another library in main.ts and it seems to be just OK with that one.

[2021-09-20 09:20] #97 closed

[2021-10-08 17:01] #104 closed

[2021-10-15 16:45] frandiox commented on #84
@Moeriki  Ah right, this is only for JSON states. I think devalue outputs a JS object or function instead.
Out of curiosity, why do you need devalue? Are you serializing Map/Set, regexps or something complex?

[2021-10-15 18:08] plashenkov commented on #44
Hi @frandiox!

Yes, I understand that this is Vite's check.
My project imports nothing from outside, it is intentionally simple for now — just one page, no API calls.

I guess it creates a cache in `node_modules/.vite` folder, then later it tries to load something from it and shows this message — maybe because `node_modules/.vite` is outside of my `src` folder? My `index.html` points to `src/app.j

[2021-10-22 02:17] mrweiner opened #115 "Example of how to actually serve the application using node?"
I've ran the build and the dist/server directories are populated, but I don't really understand what I'm supposed to do to actually serve the application. I'm deploying to platform.sh, who has an example for node that includes:

[code]

So, in my app, I've replaced this with:
[code]

That serves up a 502 error, though, so it would seem that things aren't running as expected. Similarly, if I run `n

[2021-10-22 22:59] #115 closed, assigned to nobody

[2021-10-22 23:21] jeanfrancoisgb opened #116 "Vite publicDir not working since 0.11.x"
Hi,

I just upgraded from 0.10.x, and found that since 0.11.x, Vite publicDir option doesn't seem to work.

On build, I get this error for files in the /public directory, that I did not get on 0.10.x:

The code in home.vue is like this and has not changed:

`<img class="w-auto h-6" src="/images/logo-white.svg" alt="Workflow" />`

It crashes during the "Building SSR bundle for production", the firs

[2021-10-25 16:30] #116 closed, assigned to nobody

[2021-10-29 01:43] salqueng opened #118 "[Safari + Dev Environment] SyntaxError due to Invalid Regular Expression because of negative lookbehind(?<!) regex"
![image](https://user-images.githubusercontent.com/5074074/139358277-ddd1e945-95cf-4b14-9ffb-4f5b97818616.png)

After upgrading vite-ssr to 0.14.x, dev environment on safari cannot start the application and raises "SyntaxError due to Invalid Regular Expression"

I found that vite-ssr after 0.14.x uses negative lookbehind regexes for escape quotes.
https://github.com/frandiox/vite-ssr/commit/a11c71

[2021-11-04 10:08] #118 closed

[2021-11-18 22:11] imShara opened #120 "Non-JS output mode for search engines"
It would be nice to have option that will cut all js-related stuff from server-side-rendered page.

Modern search engines can run javascript on scanning pages, but it cost cpu budget. When you render page on server side especially for search bot, you don't need hydration and javascript could be turned off.

[2021-12-02 08:13] kylemod opened #122 "How to setup with vite-plugin-pages"
I tried to setup `vite-ssr` with `vite-plugin-pages` but i get an error.

[code]

I also tried this configuration from [vite-ssr-vue3-example](https://github.com/kadiryazici/vite-ssr-vue3-example/blob/main/src/main.ts)

Here is my sources

`main.js`
[code]
`vite.config.js`
[code]
`router.js`
[code]

[2021-12-03 04:35] MOSapeizer opened #123 "buildHtmlDocument will replace $1 in __INITIAL_STATE__"
### Code Ref

https://github.com/frandiox/vite-ssr/blob/43baabedee697fcf4c83e0f8ee6d0d42dd9c96a1/src/utils/html.ts#L40-L51

### demo
[code]

[2021-12-03 12:44] frandiox commented on #122
You can just pass `routes` to ViteSSR instead of `router`. ViteSSR will create the correct router for you using the routes you provide. Example [here](https://github.com/frandiox/vitesse-ssr-template/blob/master/src/main.ts#L5) (the layout stuff is a separate plugin but it's not necessary).

[2021-12-04 14:32] kylemod commented on #122
Thanks, it worked!

[2021-12-04 14:32] #122 closed

[2021-12-06 19:14] thegouge commented on #123
I discovered this issue around the same time, but I also pinpointed that around version 0.13.0 is where this bug appears (since rolling back to 0.12.x fixes it)

[2021-12-10 10:14] #103 closed

[2021-12-14 09:36] Jupoulet opened #124 "Improve READ.me"
Hi there, thanks for the repo this is very cool :)
For my part I had some difficulties to follow the initial setup in the READ.me for one silly reason:
When you create a vite react-ts template project, the index.html file  had `<div id="app"></div>` but the vite-ssr plugin is querying  an element with 'app' as id :(
This is not really an issue rather than a suggestion to improve the READ.me

[2021-12-17 01:56] dchenk opened #127 "Support for React Router 6"
React Router (react-router-dom) version 6 was released in November 2021. The release includes great improvements but also some breaking changes. Are there plans to implement support for v6?

Upgrading docs: https://reactrouter.com/docs/en/v6/upgrading/v5

[2021-12-17 04:37] BhaskaranR opened #128 "client only build for production"
how do i build the client only for production use? i would like to use ssr only for development. We are using spring boot to serve content in production. i don't want the manifest file and server side files to built for production.

If I ```vite build``` i get this exception.

[code]

[2021-12-17 04:56] BhaskaranR commented on #128
nvm got it to work with this cmd.
```"vite build --ssrManifest --outDir dist/client```

[2021-12-17 04:56] #128 closed

[2021-12-26 13:30] frandiox commented on #127
Yeah, I would like to have a look at it now that is released as stable. I also wanted to check the new [React Location](https://react-location.tanstack.com/) but looks like it doesn't support SSR yet 🤔

[2021-12-26 17:49] #123 closed

[2021-12-26 17:49] #124 closed

[2021-12-26 20:37] frandiox commented on #120
Forgot to comment earlier. Yeah this is a nice feature. For now, it can be done in user land by just replacing `script` tags in the returned HTML if the UA matches a bot 👍

[2021-12-29 03:48] imShara commented on #120
Yes, I have already made this by stripping `<script>` tags with regexp, but parsing output is heavy operation.

[2022-01-10 14:23] Carseason opened #133 "How do I import plugins that are used on the client side?"
[code]
[vite] Internal server error: window is not defined

[2022-01-11 14:02] Carseason commented on #133
[code]

[2022-01-11 14:02] #133 closed

[2022-02-16 11:22] PascalAOMS opened #141 "Window not defined in vue/entry-client"
I cloned this repo to try out the Vue example.

Installed all the packages defined in `package.json` and was wondering why it didn't work out of the box.

The first error is this:
![image](https://user-images.githubusercontent.com/17178613/154254503-b52db930-b0db-4502-be46-28b4628c2ac8.png)

So I went into `vue/src/main.ts` and changed `import viteSSR, { ClientOnly } from 'vite-ssr'` to `import vi

[2022-02-16 11:29] frandiox commented on #141
@PascalAOMS Can you downgrade to `vite@2.7.x`? I haven't had the chance yet to check 2.8 and it looks like something is not backwards compatible. I guess you used a package manager differnt from Yarn, right? Otherwise it should have respected `yarn.lock`.

[2022-02-16 12:55] PascalAOMS commented on #141
Thank you for the quick response.

Oh wow, it worked with Yarn using the correct lock file.

Appreciate your help.

[2022-02-16 12:55] #141 closed

[2022-02-17 22:53] AlessioGr opened #142 "vite:dep-scan error: Failed to resolve entry for package "vite-ssr""
When trying to run my project, I'm getting the following error:
[code]

Is there any compatibility issue with vite-ssr and vite:dep-scan?

[2022-02-18 05:31] frandiox commented on #142
Please downgrade to Vite 2.7.x -- https://github.com/frandiox/vite-ssr/issues/141#issuecomment-1041391817

[2022-02-18 14:32] AlessioGr commented on #142
Aah I see that worked, thank you for your response!

[2022-03-04 09:55] salqueng commented on #141
https://github.com/frandiox/vite-ssr/discussions/143#discussioncomment-2294141
I just made a fix for vite 2.8.x. Can you check it out?

[2022-03-04 15:20] mkilpatrick opened #144 "Incompatible with Vite 2.8"
`✘ [ERROR] [plugin vite:dep-scan] Failed to resolve entry for package "vite-ssr". The package may have incorrect main/module/exports specified in its package.json: Failed to resolve entry for package "vite-ssr". The package may have incorrect main/module/exports specified in its package.json.

    node_modules/vite/dist/node/chunks/dep-9c153816.js:29537:10:
      29537 │     throw new Error(`Faile

[2022-03-05 02:14] salqueng commented on #144
I have created a workaround - https://github.com/frandiox/vite-ssr/discussions/143#discussioncomment-2294141

[2022-03-11 02:39] riffca opened #145 "Run tests"
@frandiox Thank you for great plugin!
However I can't run tests. Can you give advice how to fix this, please?
![image](https://user-images.githubusercontent.com/16510189/157791383-3ada0646-86cd-46c1-a946-6301bf66cd78.png)

[2022-03-11 19:35] StefanGhiban opened #146 "Is it possible to add ssr support only to some pages?"
I have been wondering if it is possible to configure the plugin in a way that some pages need ssr and some do not. For example, in an app, you might have a presentation part that needs good seo and other pages after a user logs in that do not need.

[2022-03-12 15:27] MarkLyck commented on #144
@frandiox any update on this? Maybe implement @salqueng's workaround into the main package?

[2022-03-13 14:39] frandiox commented on #146
You can conditionally pass `skip: true` in your prod server to skip SSR. It will return an empty `index.html` that behaves as SPA:

[code]

[2022-03-13 14:47] #145 closed

[2022-03-13 14:48] frandiox commented on #145
It looks like some of the assertions failed because certain values changed in a third party API. It should be fixed now 👍

cc @m3hari

[2022-03-13 20:11] StefanGhiban commented on #146
Thanks!

[2022-03-13 20:11] #146 closed

[2022-03-17 11:54] dreamerblue opened #150 "`handleSsrRequest` should set status code or it will return 404 when using Koa"
When using Koa as server in development, SSR requests will return 404.

Because of Koa will set status code to 404 by default, and `handleSsrRequest()` doesn't set status code, so finally it will response status code 404 not 200.

Example:
[code]

<img width="780" alt="image" src="https://user-images.githubusercontent.com/19774268/158802148-0bad9755-8fef-4fe3-b969-217fee600cf5.png">

[2022-03-17 12:55] domsen123 opened #151 "SSR Build Error: 'createHead' is not exported by @vueuse/head, imported by xxx"
Client Build is OK
Server Build is NOK

[code]
Sometimes:
[code]

Config:
[code]

[2022-03-17 16:34] domsen123 commented on #151
solution: reboot wsl 😅

I dont know, but its working now?!

[2022-03-17 16:35] #151 closed

[2022-03-20 05:06] dreamerblue opened #152 "How to manually handle SSR page routing under development?"
In the "Production" section of the README, it is mentioned that we can control the routing and call `renderPage` to get the SSR result. However, in the "Development" section, the SSR capability can only be used by applying `viteServer.middlewares`, which will cause some custom page routing logic to not be executed in the development environment.

Here is an example which we need to fully control a

[2022-03-22 03:50] dreamerblue commented on #152
@frandiox  Thanks for your reply. We are using a self developed Node.js framework based on Koa and our current existing page routings include many custom logic. The framework controls routing so that we'd better write logic under it, like the sample below:

[code]

The control of complex routing logic is necessary for us. And now we are now trying to migrate our project from self handled Webpack S

[2022-03-22 12:28] frandiox commented on #144
@MarkLyck @salqueng Can you have a look at #153 ? That uses virtual modules instead of aliases, which should be more robust.

[2022-03-25 12:14] yuriti opened #154 "Failed to resolve entry for package "vite-ssr""
Good afternoon, I do not understand what the problem is.

Command: **vite-ssr --open**
[code]

Nodejs: v16.14.0

package.json
[code]

vite.config.ts
[code]

main.ts
[code]

[2022-03-25 14:34] frandiox commented on #154
Hi! It's been reported in a few other issues. Tracking it here: https://github.com/frandiox/vite-ssr/issues/144
Try Vite 2.7 until #153  is released 👍

[2022-03-25 14:34] #154 closed

[2022-03-27 14:23] xvaara opened #155 "Error in url parsing?"
Hey, I've had a build vite-ssr express server crash with the error message:
[code]

should there be a try/catch in the createUrl function in the router?

[2022-03-27 17:23] Lightnet commented on #141
I got the same error.
`/node_modules/vite-ssr/vue/entry-client.js:24`

`ReferenceError: window is not defined`

[2022-04-10 13:44] #144 closed

[2022-04-10 13:48] frandiox commented on #155
Can you show an example of invalid URL? In general, this needs to throw error because it cannot continue rendering if it fails 🤔

[2022-04-10 14:22] frandiox commented on #152
@dreamerblue Alright, after checking this into more details I think it should be possible:

[code]

If you don't want Vite to handle assets for you, then you can also try this:

[code]

Hope anything from that helps!

[2022-04-10 14:36] frandiox commented on #127
Implemented (mostly) in #147 and released in `0.16.0` 🎉

[2022-04-10 14:36] #127 closed

[2022-04-10 15:51] MichealPearce opened #156 "Update CLI to Allow Specifying Vite Config Location"
The vite cli allows specifying the location of the config via the command using `-c` or `--config`. Currently, `vite-ssr` does not allow this without a workaround by using `--configFile` instead. This could be fixed and make `vite-ssr` more inline with vite's cli command by updating the bit of code linked below to look for `-c` or `--config` and mapping it to `configFile`.

https://github.com/fran

[2022-04-10 17:16] MichealPearce opened #157 "[Bug] Crashing Completely if Error Occurs in SSR During Development"
Currently facing a issue where vite and everything crashes during development is a error occurs during SSR in development. The error is as follows:

[code]

After some digging I found that this bit of code is where the issues start.

https://github.com/frandiox/vite-ssr/blob/fad2ca867992e544110cbc228cba3fc6041222fa/src/dev/server.ts#L132-L139

As we can see, if there is a error while rendering, it

[2022-04-11 00:35] MichealPearce commented on #156
The build command would also need some kind of solution I am now realizing

[2022-04-11 06:05] LittleSound commented on #116
I also encountered this problem in the latest vite 2.9.1 and vite-ssr 0.16.0, have you found a solution? @jeanfrancoisgb  @frandiox

[2022-04-11 12:09] xvaara commented on #155
I can't find anything weird in my logs around that time. Since it crashed the express server it didn't either log the url or timestamp for it.

It's only happened twice, in production. Maybe I'll need to wrap the ssr render in try catch to be on the safe side and catch the error.

[2022-04-14 03:57] dreamerblue commented on #152
Thanks! This is helpful for us, and we also refer to some source of vite-ssr dev server. Now it works.

[2022-04-14 03:57] #152 closed

[2022-04-18 13:28] Carseason opened #159 "vite-ssr doesn't appear to be written in CJS, but also doesn't appear to be a valid ES module (i.e. it doesn't have "type": "module" or an .mjs extension for the entry point). Please contact the package author to fix."
"dependencies": {
    "@vueuse/head": "^0.7.6",
    "axios": "^0.26.1",
    "element-plus": "^2.1.9",
    "express": "^4.17.3",
    "pinia": "^2.0.13",
    "sass": "^1.50.0",
    "vite-ssr": "^0.16.0",
    "vue": "3",
    "vue-router": "4"
  },
  "devDependencies": {
    "@types/node": "^17.0.24",
    "@vitejs/plugin-vue": "^2.3.1",
    "typescript": "^4.6.3",
    "vite": "^2.9.5",
    "vue-tsc":

[2022-04-19 07:35] m3hari commented on #159
Make sure you set `"type": "module"` in your packge.json

[2022-04-19 09:00] Carseason commented on #159
ok,Me Not paying attention to new changes

[2022-04-28 07:22] LittleSound commented on #159
I had this problem too, and adding "type": "module" didn't fix it
![image](https://user-images.githubusercontent.com/19204772/165699001-186bf5ff-0b26-4668-b351-f96147d246e5.png)

[2022-05-09 07:01] Carseason commented on #159
me to

[2022-05-13 23:50] ElBouhaliMohamed commented on #159
+1

[2022-05-16 03:31] frandiox commented on #159
You can safely ignore that warning for now. We will probably drop CJS support at some point (perhaps with Vite v3).

[2022-05-16 07:31] domsen123 opened #161 "[Question] How can I bundle all dependencies in server build?"
Is it possible to bundle (or specific) dependencies in server build? I tried with some rollup plugins "commonjs, resolve" etc. but nothing works :(

[2022-05-16 08:31] frandiox commented on #161
Try with [`ssr.noExternal: true`](https://vitejs.dev/config/#ssr-noexternal). It will fail if you are importing Node built-ins, though.

[2022-05-16 14:08] domsen123 commented on #161
thanks - this works....

[2022-05-16 14:08] #161 closed

[2022-05-19 18:37] hc-chumak opened #163 "PWA service-worker example"
Hi,

Does anyone have an example how to run service worker [vite-plugin-pwa](https://github.com/antfu/vite-plugin-pwa) with vite-ssr?

I tried [vitesse ssg example](https://github.com/antfu/vitesse/blob/main/src/modules/pwa.ts), but I got "Hydration completed but contains mismatches." :/

Thanks !

[2022-05-28 21:00] lautiamkok commented on #27
@frandiox

It doesn't work. Getting this error:

`Uncaught SyntaxError: The requested module '/node_modules/.vite/deps/vue-router.js?v=e55863d5' does not provide an export named 'RouterOptions'`

[2022-05-29 09:57] frandiox commented on #27
`RouterOptions` is just a type. You can pass options (`scrollBehavior`, etc) like in [this example](https://github.com/frandiox/vite-ssr/discussions/160#discussioncomment-2718997).

[2022-05-30 21:12] lautiamkok commented on #27
@frandiox got it working now. thanks so much!

[2022-06-03 19:00] yuriifabirovskyi opened #164 "Inital state does not serialize getters, setters and functions of the object"

[2022-06-05 04:17] frandiox commented on #164
Serialization can be customized: https://github.com/frandiox/vite-ssr#state-serialization
You can use libs like [`serialize-javascript`](https://www.npmjs.com/package/serialize-javascript) for what you're asking.

[2022-06-05 04:17] #164 closed

[2022-06-06 05:11] lautiamkok opened #165 "Throw and catch errors?"
How do we throw and catch errors with this plugin?

For example, if I throw an error on a page:

[code]

How can we catch that error with vite-ssr?

[2022-06-06 06:35] yuriifabirovskyi commented on #164
@frandiox Wow! That is very usefull. Thanks!

[2022-06-13 14:57] dchenk opened #166 "React 18 support"
Are there plans to implement support for [React version 18](https://reactjs.org/blog/2022/03/29/react-v18.html), released in March 2022? It'd be great to be able to use the latest version of React with vite-ssr.

[2022-06-15 13:39] yuriifabirovskyi opened #167 "How to disable plugin when SSR bundle is building?"
I use vite-plugin-sentry to upload source maps to Sentry. But because there are two different builds for client and for SSR, the source maps are uploaded twice.

[2022-06-15 14:08] yuriifabirovskyi opened #168 "How to use NaiveUI with vite-ssr?"
NaiveUI provide a good example of how to use it with ssr: https://github.com/07akioni/naive-ui-vite-ssr . The algorithm is as follows: first you need to collect all css from project and then inject its in the index.html file on the server. But I can't figure out how to do it with vite-ssr.

[2022-06-17 05:40] SkyleLai commented on #168
This is my workaround:

I modify entry-server.js and html.js in vite-ssr (commented // changed), and use postinstall script to replace it after yarn/npm install

package.json

[code]

./src/utils/entry-server.js

[code]

./src/utils/html.js
[code]

./index.html
[code]

./src/main.js
[code]

./vite.config.js
[code]

[2022-06-20 05:01] MichealPearce commented on #159
I found that adding `module.exports = 'i love you'` to the `index.js` of the package fixes the issue.

Looking into the vite code that logs the message, I found a regex check right before it logs.
![image](https://user-images.githubusercontent.com/8726457/174528119-6ebc23a0-192f-4e30-867a-a1153c8d3e33.png)

The regex just checks for some key works for CJS
![image](https://user-images.githubusercon

[2022-06-20 05:03] MichealPearce commented on #159
Also found it could be fixed by just adding `module.exports` as a comment
![image](https://user-images.githubusercontent.com/8726457/174528696-8a4b4659-0422-47c8-aebb-e53d9b3165a5.png)

[2022-06-22 03:16] wheeljs opened #169 "Render mismatch with csr when using with ant-design-vue"
Hi, thanks for your great library to help me setup vite with ssr in my vite+vue@3 project. But when I review ui after setup, I found the `<a-select mode="multiple">` with multiple selection but only one remove icon. I wrapped all client codes into `<client-only>`, but it doesn't work.

#### Step to reproduce
1. Add `<a-select mode="multiple">` into component, select multiple options.
2. Only one s

[2022-06-24 09:47] JerrySir opened #170 "use antdv error, why?"
Installation step:
$ npm install ant-design-vue --save
// vite.config.js
import Components from 'unplugin-vue-components/vite';
import { AntDesignVueResolver } from 'unplugin-vue-components/resolvers';

export default {
  plugins: [
    /* ... */
    Components({
      resolvers: [AntDesignVueResolver()],
    }),
  ],
};

choose a .vue file use components:
<a-button type="primary" danger>
      Pr

[2022-06-28 01:16] mrweiner opened #171 "SyntaxError: import not found: useContext"
The readme and a handful of issues describe using `import { useContext } from 'vite-ssr'` to access the context, but doing that seems to throw `SyntaxError: import not found: useContext`. Is there a replacement that exists for this?

It looks like entry-server.js mentions `// This can be injected with useSSRContext() in setup functions`, but I don't think that that is exactly a replacement for thi

[2022-07-11 09:18] gitsheny opened #172 "command "--mode" option become invalid"
when i use command "vite-ssr build --mode test",  the mode in vite.config.js is still "development".

[2022-07-11 22:06] michaelkplai opened #173 "Vue Teleport Support"
I wanted to ask about support for Vue’s [Teleport Component](https://vuejs.org/guide/built-ins/teleport.html). Currently, using teleport leads to a hydration error.

Teleport SSR considerations have been documented [here](https://vuejs.org/guide/scaling-up/ssr.html#teleports). Teleport content is exposed in the Vue context object and must be manually injected into the HTML.

I think this can be im

[2022-07-12 02:48] michaelkplai commented on #173
I’ve got a working local pnpm patch based on this [Nuxt PR](https://github.com/nuxt/framework/pull/3909/commits).

Misc. notes:

- Client-rendered body teleports are added to the bottom of <body>. Oddly, server-rendered teleports must be added to the top of <body> to prevent hydration mismatches.
- [Cheerio](https://www.npmjs.com/package/cheerio) is an option to support full CSS selectors, however

[2022-07-12 18:24] MichealPearce commented on #173
Do you have a example of it causing a hydration error? I currently use Teleport perfectly fine within my vite-ssr app.

Is the element you're teleporting to rendered by Vue or outside of it like in the raw html?

[2022-07-14 01:36] michaelkplai commented on #173
I’ve created a [simple reproduction](https://github.com/michaelkplai/vitesse-ssr-teleport-bug) on top of the [vitesse template](https://github.com/frandiox/vitesse-ssr-template).

Oddly enough I’m not getting a hydration error. However, the teleported elements are not being rendered on the server (verified using view Page Source).

[2022-07-15 06:32] gitsheny opened #174 "error in vite 3.0"
i use this template  https://github.com/kadiryazici/vite-ssr-vue3-example/
it works in vite2, but  error in vite3
`13:53:40 [vite] Internal server error: Unexpected token 'export'`

[2022-07-20 05:23] #174 closed

[2022-08-22 03:38] Verdicts-ye opened #177 "vite-ssr doesn't appear to be written in CJS, but also doesn't appear to be a valid ES module"
vite-ssr doesn't appear to be written in CJS, but also doesn't appear to be a valid ES module (i.e. it doesn't have "type": "module" or an .mjs extension for the entry point). Please
contact the package author to fix.

How can I solve this problem

[2022-09-02 07:05] #177 closed

[2022-09-08 09:18] yuriifabirovskyi opened #178 "Vite 3.0.0 and 3.1.0 support"
I noticed 2 problems. Maybe there is more.
1. Starting with vite 3.0.0, the server entry point is built as main.mjs instead of main.js, as it was before.
2. Assets folder is building in server mode in v3.1.0.
![image](https://user-images.githubusercontent.com/20482699/189080722-cbb32275-1f6c-441d-9af9-b904180c12f4.png)

[2022-09-11 20:10] Holiden opened #179 "NPM Error with dependency in vite version 3+"
[code]

[code]

[2022-09-14 15:27] #170 closed

[2022-09-15 07:12] gitsheny commented on #178
vite文档上有
vite.config.js
`ssr: {
      format: 'cjs',
    },`

[2022-09-21 02:13] zhuchentong opened #180 "vite-ssr middlewave mode in nestjs show warning"
I use vite-ssr for nestjs framework, that's worked.but some warning still display.

i don't konw how to resolve that

the reproduct demo is:

https://github.com/zhuchentong/vite-ssr-demo/tree/vite-ssr

the dependencies version is:
vite 3
nestjs 9
vite-ssr 0.16.0

[2022-09-29 11:55] sil2 opened #181 "update issue"
after pnpm update

ERR_PNPM_PEER_DEP_ISSUES  Unmet peer dependencies

.
└─┬ vite-ssr 0.16.0
├── ✕ unmet peer @vitejs/plugin-vue@^2.0.1: found 3.1.0
├── ✕ unmet peer react@^17: found 18.2.0
└── ✕ unmet peer vite@^2.7.7: found 3.1.4

Failed to resolve entry for package "vite-ssr". The package may have incorrect main/module/exports specified in its package.json:

[2022-10-13 02:21] Lord-Y opened #182 "Vite 3.x.x support"
@frandiox Any plan to support Vite 3.x.x?

[2022-10-28 22:23] fernandoamz opened #183 "Support for Vite 3.x.x"
Hi Team,

First, I would like to congrats on this awesome tool. thanks for sharing and contributing.

Will you have support for React@18, React-Router-Dom@6, and vite@3? It will be awesome to have news about this.

Thanks so much!

[2022-11-07 07:13] bitem-cn commented on #182
I already use this in vite3

[2022-11-08 03:14] frandiox commented on #182
Yeah I know some other projects using Vite 3 with Vitedge, which uses vite-ssr internally. Did you find any issue using this in Vite 3 apart from some versioning warnings?

[2022-11-08 05:04] bitem-cn commented on #182
Just a few deployment issues, which I've taken care of.

[2022-11-11 09:12] jamespearson commented on #166
Any update on this? React 18 has been out for 8 months now.

[2022-11-11 11:15] frandiox commented on #166
PRs welcome 👍 . Stuff that need to be updated (afaik):
- Use `createRoot` and `hydrateRoot` instead of `create`/`hydrate` in `entry-client`.
- Remove `react-ssr-prepass` if possible and rely on new suspense capabilities. Is this compatible with `renderToString`?
- Add an optional mode to use `renderToReadableStream` instead of `renderToString`.

[2022-11-11 12:05] Lord-Y commented on #182
@frandiox I stood with version 0.16.0 as I intent to use it soon in production.